<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="styles/meyerreset.css"/>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
	<link rel="stylesheet" href="audioplayer/styles/audioplayer.css"/>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
	<script type="text/javascript" src="//raw.github.com/raganwald/method-combinators/master/lib/method-combinators.js"></script>
	
	<script type="text/javascript" src="audioplayer/audioplayer.js"></script>
	<script type="text/javascript" src="archiveloader/archiveloader.js"></script>

	<script type="text/template" id="tplPlaylistRecord">
		<li class="playlistEntry">
			<span class="playlistEntryInfo"><%= data.creator %> - <%= data.title %></span>
			<audio preload="none">
				<%= data.streams %>
			</audio>
		</li>
	</script>

	<script type="text/template" id="tplStreamSource">
		<source src="<%= data.url %>">
	</script>

	<script type="text/javascript">
	


	

	(function ($){
		$(document).ready(function (){
			_.templateSettings.variable = "data";

			audioPlayer.setContainer("playlistContainer");
			archiveLoader.initSearchBox("searchBox");
			
			$("#generatePlaylist").click(function () { archiveLoader.randomShowByCollection($("#searchBox").val()); });
		})
	})(jQuery);
	
		
	</script>
</head>


<body>
	<div class="metapane" id="metapane">
		Select Artist:<input type="text" id="searchBox"/><a href="#" id="generatePlaylist"><img src="audioplayer/images/magnifying_glass_24x24.png" alt="Search"/>Search</a>
		<h1 id="showTitle"></h1>
		<h2 id="showTaper"></h2>
	</div>
	<div id="audiopane">
		<h3 class="description" id="trackDescription">No Media Loaded</h3>
		<ul class="audioinfo">
			<li class="time" id="trackTime">00:00</li>
			<li class="audiocontrol" id="trackProgress"><div class="apProgress" id="apCtrlProgress"></div></li>
			<li class="time" id="trackLength">&infin;</li>
		</ul>
		<ul class="audiocontroller" id="audiocontroller">
			<li class="audiocontrol"><img src="audioplayer/images/first_16x16.png" id="apCtrlBack"/></li>
			<li class="audiocontrol"><img src="audioplayer/images/play_12x16.png"  id="apCtrlPlay"></li>
			<li class="audiocontrol"><img src="audioplayer/images/pause_12x16.png" id="apCtrlPause"></li>
			<li class="audiocontrol"><img src="audioplayer/images/stop_16x16.png"  id="apCtrlStop"></li>
			<li class="audiocontrol"><img src="audioplayer/images/last_16x16.png"  id="apCtrlNext"/></li>
			<li class="audiocontrol"><div class="apVolume" id="apCtrlVolume"></div></li>
		</ul>
		<ul class="playlist" id="playlistContainer">
		</ul>
	</div>
</body>
</html>