<!DOCTYPE html>
<html lang="en">

<head>
	<title> Archive Player </title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />

	
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
	<script type="text/javascript" src="//raw.github.com/flatiron/director/master/build/director.min.js"></script>
	<script type="text/javascript" src="//raw.github.com/raganwald/method-combinators/master/lib/method-combinators.js"></script>
	

	<script type="text/javascript" src="audioplayer/audioplayer.js"></script>
	<script type="text/javascript" src="archiveloader/archiveloader.js"></script>

	<script type="text/template" id="tplPlaylistRecord">
		<li class="playlistEntry">
			<span class="playlistEntryInfo"><%= data.creator %> - <%= data.title %></span>
			<audio preload="none">
				<%= data.streams %>
			</audio>
		</li>
	</script>

	<script type="text/template" id="tplStreamSource">
		<source src="<%= data.url %>">
	</script>

	<script type="text/javascript">
	//Refers to the template above (tplStreamSource) and indicates that variables are prefixed with "data", e.g data.url
	_.templateSettings.variable = "data";

	//Adds function _.propertySelect to the Underscore library
	_.mixin({
		propertySelect : 	(function (key) {
								return function (obj) { return obj[key]; }
							}),
	});


	(function ($){
		$(document).ready(function (){
			
			audioPlayer.setContainer("playlistContainer");
			
			
			archiveLoader.getCollections()
				.then(function (data, status) {
					var collections = _(data.response.docs).map(function (c) {  return {label: c.title, value:c.identifier}  });
					$("#artistSearchBox").autocomplete({source:collections});	
				});

			var showPlaylist = function (playlist) {
				$.mobile.changePage("#playlist");
				$("#showTitle").html('<a href="' + playlist.originalURL +'" window="_blank">' + playlist.title +"</a>" );
				$("#showTaper").html("Taper: " + playlist.taper);
				audioPlayer.loadPlaylist(playlist.files);
			}

			var pickRandomShow = function (collection, attempt) {
				archiveLoader.randomShowByCollection(collection).
					then(function (playlist) {
						if (playlist.files.length > 0) {
							showPlaylist(playlist.files);
						}
						else if (attempt < 10){
							pickRandomShow(collection, (attempt || 0) + 1);
						}
						else
						{
							alert("Could Not Find a Show");
						}
					});
			}

			$("#artistSearchBox").keypress(function (event) {
				if (event.which == 13) //Enter Key
				{
					archiveLoader.randomShowByCollection($("#artistSearchBox").val()).
						then(showPlaylist);
				}
			});
			
			$("#artistSearchBtn").click(function () { 
				archiveLoader.randomShowByCollection($("#artistSearchBox").val()).
					then(showPlaylist);
			});

			$("#taperSearchBox").keypress(function (event) {
				if (event.which == 13) //Enter Key
				{
					archiveLoader.randomShowByTaper($("#taperSearchBox").val()).
						then(showPlaylist);
				}
			});
			
			$("#taperSearchBtn").click(function () { 
				archiveLoader.randomShowByTaper($("#taperSearchBox").val()).
					then(showPlaylist);
			});
		})
	})(jQuery);
	</script>
</head>


<body>
	
	<div data-role="page" id="search">
	    <div data-role="content">
	    	<div data-role="collapsible-set" data-content-theme="d">
	            <div data-role="collapsible" data-collapsed="false">
	                <h3>
	                    Artist
	                </h3>
	                <div class="ui-grid-a">
			            <div class="ui-block-a">
			            	<div data-role="fieldcontain">
					                <input name="" id="artistSearchBox" placeholder="Lotus" value="" type="search">
					        </div>
			            </div>
			            <div class="ui-block-b">
			        		<input id="artistSearchBtn" type="submit" data-inline="true" data-theme="a" data-icon="search" data-iconpos="left" value="Search">    	
			            </div>
			        </div>
	            </div>
	            <div data-role="collapsible" data-collapsed="true">
	                <h3>
	                    Taper
	                </h3>
	                <div class="ui-grid-a">
			            <div class="ui-block-a">
			            	<div data-role="fieldcontain">
					                <input name="" id="taperSearchBox" placeholder="Scott Bernstein" value="" type="search">
					        </div>
			            </div>
			            <div class="ui-block-b">
			        		<input id="taperSearchBtn" type="submit" data-inline="true" data-theme="a" data-icon="search" data-iconpos="left"  value="Search">    	
			            </div>
			        </div>
	            </div>
	        </div>
	    	
	    </div>
        <div data-role="footer" data-id="navbar">		
			<div data-role="navbar">
				<ul>
					<li><a href="#search" data-iconpos="inline" data-icon="search" class="ui-btn-active">Search</a></li>
					<li><a href="#playlist" data-iconpos="inline" data-icon="grid">Playlist</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>
	<div data-role="page" id="playlist">
	    <div data-role="content">
	        <div>
	        	<div class="ui-grid-a">
					<div class="ui-block-a">
						<h5 id="showTitle"></h5>
						<p id="showTaper"></p>
					</div>
					<div class="ui-block-b">
						<h6 id="trackDescription"></h6>
					</div>
				</div>
				<div data-role="controlgroup" data-type="horizontal" data-theme="c">
					<a id="apCtrlPlay" data-role="button" href="#" style="background-image: url(audioplayer/images/play.png); background-repeat: no-repeat; background-position:50%;">
						<br/>
					</a>
					<a id="apCtrlPause" data-role="button" href="#" style="background-image: url(audioplayer/images/pause.png); background-repeat: no-repeat; background-position:50%;">
						<br/>
					</a>
					<a id="apCtrlStop" data-role="button" href="#" style="background-image: url(audioplayer/images/stop.png); background-repeat: no-repeat; background-position:50%;">
						<br/>
					</a>
					<a id="apCtrlNext" data-role="button" href="#" style="background-image: url(audioplayer/images/next.png); background-repeat: no-repeat; background-position:50%;">
						<br/>
					</a>
				</div>
	        </div>
	        <ul id="playlistContainer" data-role="listview" data-divider-theme="c" data-inset="true">
	            <li data-theme="c">
	                <a href="#page1" data-transition="slide">
	                    Song1
	                </a>
	            </li>
	        </ul>
	    </div>
	    <div data-role="footer" data-id="navbar">		
				<div data-role="navbar">
					<ul>
						<li><a href="#search" data-iconpos="inline" data-icon="search">Search</a></li>
						<li><a href="#" data-iconpos="inline" data-icon="grid">Playlist</a></li>
					</ul>
				</div><!-- /navbar -->
			</div><!-- /footer -->
	</div>
	
</body>
</html>