<!DOCTYPE html>
<html lang="en">

<head>
	<title> Archive Player </title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<link rel="stylesheet" href="styles/rating.css" />

	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="audioplayer/audioplayer.js"></script>
	<script type="text/javascript" src="archiveloader/archiveloader.js"></script>
	<script type="text/javascript" src="raganwald/method-combinators.js"></script>
	<script type="text/javascript" src="flatiron/director.js"></script>
	<script type="text/javascript">
		(function ($) {
			$(document).bind("mobileinit", function(){
		        $.mobile.ajaxEnabled = false;
		        $.mobile.hashListeningEnabled = false;
		    });
		})(jQuery)
	</script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
	
	

	

	<script type="text/template" id="tplPlaylistRecord">
		<li class="playlistEntry">
			<span class="playlistEntryInfo"><%= data.creator %> - <%= data.title %></span>
			<audio preload="none">
				<%= data.streams %>
			</audio>
		</li>
	</script>

	<script type="text/template" id="tplStreamSource">
		<source src="<%= data.url %>">
	</script>

	<script type="text/javascript">
	//Refers to the template above (tplStreamSource) and indicates that variables are prefixed with "data", e.g data.url
	_.templateSettings.variable = "data";

	//Adds function _.propertySelect to the Underscore library
	_.mixin({
		propertySelect : 	(function (key) {
								return function (obj) { return obj[key]; }
							}),
	});


	(function ($){
		$(document).ready(function (){
			
			audioPlayer.setContainer("playlistContainer");
			
			function goingToTheShow(showID) {
				var pplaylist = archiveLoader.showByID(showID)
				pplaylist.then(showPlaylist)
			}

			var router = Router({
				"archive/random/artist/:artistName" : archiveLoader.randomShowByCollection,
				"archive/show/:showID" : goingToTheShow
			});
			router.init();

			archiveLoader.getCollections()
				.then(function (data, status) {
					var collections = _(data.response.docs).map(function (c) {  return {label: c.title, value:c.identifier}  });
					$("#artistSearchBox").autocomplete({source:collections});
					$("#advSearchArtist").autocomplete({source:collections});
				});

			var showPlaylist = function (playlist) {
				playlist.route = window.location.hash;
				$.mobile.changePage("#playlist");
				$("#showTitle").html('<a href="' + playlist.route +'" window="_blank">' + playlist.title +"</a>" );
				$("#originalSource").html('<a href="' + playlist.originalURL +'" window="_blank">Taped by ' + playlist.taper + " @ archive.org</a>" );
				audioPlayer.loadPlaylist(playlist.files);
				window.hash = playlist.route;
			}



			var pickRandomShow = function (searchFunc, attempt) {
				$.mobile.loading('show', {
					text : "Finding playlist...", 
					textVisible : true,
					theme : 'a'
				});
				searchFunc().
					then(function (playlist) {
						if (playlist.files.length > 0) {
							$.mobile.loading('hide');
							showPlaylist(playlist);
						}
						else if (attempt < 30){
							pickRandomShow(collection, (attempt || 0) + 1);
						}
						else
						{
							$.mobile.loading('hide');
							alert("Could Not Find a Show");
						}
					});
			}

			$("#artistSearchBox").keypress(function (event) {
				if (event.which == 13) //Enter Key
				{
					var searchFunc = _.bind(archiveLoader.randomShowByCollection, archiveLoader, [$("#artistSearchBox").val()]);
					pickRandomShow(searchFunc);
				}
			});
			
			$("#artistSearchBtn").click(function () { 
				var searchFunc = _.bind(archiveLoader.randomShowByCollection, archiveLoader, [$("#artistSearchBox").val()]);
				pickRandomShow(searchFunc);
			});

			$("#taperSearchBox").keypress(function (event) {
				if (event.which == 13) //Enter Key
				{
					var searchFunc = _.bind(archiveLoader.randomShowByTaper, archiveLoader, [$("#taperSearchBox").val()]);
					pickRandomShow(searchFunc);
				}
			});
			
			$("#taperSearchBtn").click(function () { 
				var searchFunc = _.bind(archiveLoader.randomShowByTaper, archiveLoader, [$("#taperSearchBox").val()]);
				pickRandomShow(searchFunc);
			});

			$("#advSearchBtn").click(function () { 
				var  collection = $("#advSearchArtist").val(), 
					 taper = $("#advSearchTaper").val(), 
					 year = $("#advSearchYear").val(), 
                     venue = $("#advSearchVenue").val(),
                     avg_rating = $("#advSearchRating").val();

				var searchFunc = _.bind(archiveLoader.randomShowByAdvancedSearch, archiveLoader, collection, taper, year, venue, avg_rating);
				pickRandomShow(searchFunc);
			});

			//Fire the router in case we are going directly to a path
			router.handler();

		})
	})(jQuery);
	</script>
</head>


<body>
	
	<div data-role="page" id="search">
	    <div data-role="content">
	    	<div data-role="collapsible-set" data-content-theme="d">
	            <div data-role="collapsible" data-collapsed="false"> <!-- Artist Search -->

					<h3>
						Artist
					</h3>
					<fieldset data-role="controlgroup" data-mini="true">
						<label for="artistSearchBox">
						</label>
						<input name="artistSearchBox" id="artistSearchBox" placeholder="Lotus" value="" type="search">
					</fieldset>
					<input id="artistSearchBtn" type="submit" data-inline="true" data-theme="b" data-icon="search" data-iconpos="left" value="Submit" data-mini="true">
			        
	            </div>
	            <div data-role="collapsible" data-collapsed="true"><!-- Taper Search -->

					<h3>
						Taper
					</h3>
					<fieldset data-role="controlgroup" data-mini="true">
						<label for="artistSearchBox">
						</label>
						<input name="taperSearchBox" id="taperSearchBox" placeholder="" value="" type="search">
					</fieldset>
					<input id="taperSearchBtn" type="submit" data-inline="true" data-theme="b" data-icon="search" data-iconpos="left" value="Submit" data-mini="true">

				</div>
				<div data-role="collapsible" data-collapsed="true">
					<h3>
						Advanced
					</h3>
					<div class="ui-grid-a">
						<div class="ui-block-a">
							<div data-role="fieldcontain">
								<fieldset data-role="controlgroup" data-mini="true">
									<label for="advSearchArtist">
										Artist
									</label>
									<input name="advSearchArtist" id="advSearchArtist" placeholder="" value="" type="search">
								</fieldset>
							</div>
						</div>
						<div class="ui-block-b">
							<div data-role="fieldcontain">
								<fieldset data-role="controlgroup" data-mini="true">
									<label for="advSearchYear">
										Year
									</label>
									<input name="advSearchYear" id="advSearchYear" placeholder="" value="" type="search">
								</fieldset>
							</div>
						</div>
						<div class="ui-block-a">
							<div data-role="fieldcontain">
								<fieldset data-role="controlgroup" data-mini="true">
									<label for="advSearchTaper">
										Taper
									</label>
									<input name="advSearchTaper" id="advSearchTaper" placeholder="" value="" type="search">
								</fieldset>
							</div>
						</div>
						<div class="ui-block-b">
							<div data-role="fieldcontain">
								<fieldset data-role="controlgroup" data-mini="true">
									<label for="advSearchVenue">
										Venue
									</label>
									<input name="advSearchVenue" id="advSearchVenue" placeholder="" value="" type="search">
								</fieldset>
							</div>
						</div>
						<div class="ui-block-a">
							<div data-role="fieldcontain">
								<fieldset data-role="controlgroup" data-mini="true">
									<label for="advSearchRating">
									    Rating	
									</label>
									<input name="advSearchRating" id="advSearchRating" placeholder="" value="" type="search">
								</fieldset>
							</div>
						</div>
					</div>
					<input id="advSearchBtn" type="submit" data-inline="true" data-theme="b" data-icon="search" data-iconpos="left" value="Search" data-mini="true">
				</div>
			</div>
		</div>
        <div data-role="footer" data-id="navbar">		
			<div data-role="navbar">
				<ul>
					<li><a href="#search" data-iconpos="inline" data-icon="search" class="ui-btn-active">Search</a></li>
					<li><a href="#playlist" data-iconpos="inline" data-icon="grid">Playlist</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>
	<div data-role="page" id="playlist">
	    <div data-role="content">
	        <div>
	        	<div class="ui-grid-a">
					<div class="ui-block-a">
						<h5 id="showTitle"></h5>
						<h6 id="originalSource"></h6>
						<p id="showTaper">
						<section id="rating">
							<div class="star-rating">

								<input class="rb0" id="Ans_1" name="numericRating" type="radio" value="0" checked="checked" />
								<input class="rb1" id="Ans_2" name="numericRating" type="radio" value="1" />
								<input class="rb2" id="Ans_3" name="numericRating" type="radio" value="2" />
								<input class="rb3" id="Ans_4" name="numericRating" type="radio" value="3" />
								<input class="rb4" id="Ans_5" name="numericRating" type="radio" value="4" />
								<input class="rb5" id="Ans_6" name="numericRating" type="radio" value="5" />
								<input class="rb6" id="Ans_7" name="numericRating" type="radio" value="6" />
								<input class="rb7" id="Ans_8" name="numericRating" type="radio" value="7" />
								<input class="rb8" id="Ans_9" name="numericRating" type="radio" value="8" />
								<input class="rb9" id="Ans_10" name="numericRating" type="radio" value="9" />
								<input class="rb10" id="Ans_11" name="numericRating" type="radio" value="10" />

								<label for="Ans_1" class="star rb0l" onclick=""></label>
								<label for="Ans_2" class="star rb1l" onclick=""></label>
								<label for="Ans_3" class="star rb2l" onclick=""></label>
								<label for="Ans_4" class="star rb3l" onclick=""></label>
								<label for="Ans_5" class="star rb4l" onclick=""></label>
								<label for="Ans_6" class="star rb5l" onclick=""></label>
								<label for="Ans_7" class="star rb6l" onclick=""></label>
								<label for="Ans_8" class="star rb7l" onclick=""></label>
								<label for="Ans_9" class="star rb8l" onclick=""></label>
								<label for="Ans_10" class="star rb9l" onclick=""></label>
								<label for="Ans_11" class="star rb10l last" onclick=""></label>

								<label for="Ans_1" class="rb" onclick="">0</label>
								<label for="Ans_2" class="rb" onclick="">1</label>
								<label for="Ans_3" class="rb" onclick="">2</label>
								<label for="Ans_4" class="rb" onclick="">3</label>
								<label for="Ans_5" class="rb" onclick="">4</label>
								<label for="Ans_6" class="rb" onclick="">5</label>
								<label for="Ans_7" class="rb" onclick="">6</label>
								<label for="Ans_8" class="rb" onclick="">7</label>
								<label for="Ans_9" class="rb" onclick="">8</label>
								<label for="Ans_10" class="rb" onclick="">9</label>
								<label for="Ans_11" class="rb" onclick="">10</label>

								<div class="rating"></div>
								<div class="rating-bg"></div>
							</div> <!-- star-rating -->
						</section>
					</div>
					<div class="ui-block-b">
						<h6 id="trackDescription"></h6>
					</div>
				</div>
				<div data-role="controlgroup" data-type="horizontal" data-theme="c" data-mini="true">
					<a id="apCtrlPlay" data-role="button" href="#" style="background-image: url(audioplayer/images/play.png); background-repeat: no-repeat; background-position:50%;">
						<br/>
					</a>
					<a id="apCtrlPause" data-role="button" href="#" style="background-image: url(audioplayer/images/pause.png); background-repeat: no-repeat; background-position:50%;">
						<br/>
					</a>
					<a id="apCtrlStop" data-role="button" href="#" style="background-image: url(audioplayer/images/stop.png); background-repeat: no-repeat; background-position:50%;">
						<br/>
					</a>
					<a id="apCtrlNext" data-role="button" href="#" style="background-image: url(audioplayer/images/next.png); background-repeat: no-repeat; background-position:50%;">
						<br/>
					</a>
				</div>
	        </div>
	        <ul id="playlistContainer" data-role="listview" data-divider-theme="c" data-inset="true">
	        </ul>
	    </div>
	    <div data-role="footer" data-id="navbar">		
			<div data-role="navbar">
				<ul>
					<li><a href="#search" data-iconpos="inline" data-icon="search">Search</a></li>
					<li><a href="#playlist" data-iconpos="inline" data-icon="grid" class="ui-btn-active">Playlist</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>
	
</body>
</html>
