.apVolume {
	height : 5px;
	width : 50px;
	font-size: 20%;
}

.apProgress {
	height : 5px;
	width : 100px;
	font-size: 1%;
}

.apProgress .ui-slider-range {
	background: #E0E1DD;
}

.audiocontroller li {
	display: inline;
	vertical-align: middle;
}

.audiocontroller div {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
}

.audioinfo li {
	display: inline;
}

.audioinfo div {
	display: inline-block;
}